header {
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
}

.logo {
  position: relative;
  height: 100%;
  margin-right: 52px;
}
.logo span {
  letter-spacing: 8px;
  font-size: 24px;
  font-family: 'Scope One', serif;
  position: absolute;
  right: 0;
  bottom: 0;
}

#container {
  width: auto;
  height: 100%;
  margin-top: 110px;
  transform-origin: 50% 0;
}

#leftContent {
  width: 65%;
  height: 100%;
  float: left;
}

.works {
  margin: 170px 60px;
}
.works span {
  font-size: 48px;
  font-family: 'Scope One', serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.works p {
  color: #ccc;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: right;
}

#rightContent {
  width: 35%;
  height: 100%;
  top: 15%;
  right: 0;
  position: fixed;
  padding-right: 60px;
}
#rightContent #message {
  margin-top: 40px;
}
#rightContent #message p {
  color: #555555;
  font-size: 14px;
  margin: 25px 0;
  text-align: right;
}
#rightContent #test {
  transform: scale(0, 1);
  opacity: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center center;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

#detail_container {
  z-index: 99;
  opacity: 0;
  height: 100%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: 50% 0;
  background-color: #222;
  position: fixed;
  top: 0;
}

#det_header {
  width: 100%;
  height: 70px;
}
#det_header .logo {
  position: relative;
  height: 100%;
  margin-right: 52px;
}
#det_header .logo span {
  letter-spacing: 8px;
  font-size: 24px;
  color: #ddd;
  font-family: 'Scope One', serif;
  position: absolute;
  right: 0;
  bottom: 0;
}
