header {
  width: 100%;
  height: 70px;
  padding-right: 20px;
  position: relative;
  top: 0;
  position: fixed;
}

#logo {
  position: relative;
  width: 35%;
  height: 100%;
  margin-right: 52px;
  float: right;
}
#logo span {
  letter-spacing: 8px;
  font-size: 24px;
  font-family: 'Scope One', serif;
  position: absolute;
  right: 0;
  bottom: 0;
}

#container {
  height: 100%;
  width: auto;
  margin-top: 110px;
}

#leftContent {
  width: 65%;
  height: 100%;
  float: left;
}

.works {
  margin: 170px 60px;
}
.works a {
  font-size: 48px;
  font-family: 'Scope One', serif;
  font-weight: 100;
}
.works p {
  color: #ccc;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: right;
}

#rightContent {
  width: 35%;
  height: 100%;
  right: 0;
  float: left;
  position: relative;
  position: fixed;
}
#rightContent #message {
  margin-top: 40px;
  right: 60px;
  position: fixed;
}
#rightContent #message p {
  color: #555555;
  font-size: 14px;
  margin: 25px 0;
  text-align: right;
}
#rightContent #test {
  position: absolute;
  transform: scale(0, 1);
  opacity: 0;
  right: 60px;
  width: 90%;
  height: 80%;
  background-size: cover;
  background-position: center center;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
