html, body, main, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  opacity: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  width: 100%;
  height: 40px;
  top: 0;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
  position: relative;
  height: 100%;
  margin-right: 4.2%;
}
.logo span {
  letter-spacing: 0.4em;
  font-size: 16px;
  font-family: 'Scope One', serif;
  position: absolute;
  right: 0;
  bottom: 0;
}

#container {
  width: auto;
  height: 100%;
  margin-top: 110px;
  transform-origin: 50% 0;
}

#leftContent {
  width: 100%;
  height: 100%;
  float: left;
}

.title {
  cursor: pointer;
}

.works {
  margin: 25% 4%;
}
.works span {
  font-size: 24px;
  font-family: 'Scope One', serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.works p {
  color: #ccc;
  margin-right: 2%;
  font-size: 16px;
  text-align: right;
}

#rightContent {
  width: 100%;
  top: 6%;
  right: 0;
  position: fixed;
}
#rightContent #message {
  margin-top: 40px;
  margin-right: 6%;
}
#rightContent #message p {
  color: #555555;
  font-size: 11px;
  margin: 3px 0;
  text-align: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

#detail_container {
  z-index: 99;
  opacity: 0;
  height: 100%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: 50% 0;
  background-color: #222;
  position: fixed;
  top: 0;
  color: #ddd;
}

#det_header {
  width: 100%;
  height: 40px;
}
#det_header #det_logo {
  width: 20%;
  height: 100%;
  margin-left: 7%;
  float: left;
  position: relative;
}
#det_header #det_logo span {
  position: absolute;
  bottom: 0;
  letter-spacing: 0.4em;
  font-size: 16px;
  font-family: 'Scope One', serif;
}
#det_header #close {
  width: 20%;
  height: 100%;
  margin-right: 6%;
  float: right;
  position: relative;
}
#det_header #close span {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0.4em;
  letter-spacing: 0.4em;
  font-size: 9px;
  font-family: 'Scope One', serif;
}

#det_main {
  width: 100%;
  height: 100%;
}

#movie {
  width: 100%;
  height: 40%;
  float: left;
  margin-top: 2%;
}
#movie iframe {
  width: 86% !important;
  height: 75% !important;
  display: block;
  margin: 10% auto 0;
}

#work {
  width: 100%;
  height: 100%;
  float: left;
}

#work_title {
  margin-right: 7.5%;
}
#work_title h2 {
  text-align: right;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Scope One', serif;
}

#description {
  margin-top: 8%;
  margin-right: 9%;
}
#description p {
  font-size: 11px;
  margin-bottom: 3%;
  text-align: right;
  font-family: 'Scope One', serif;
}
